html,
body {
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.container {
    margin-top: 10px;
}

.map-container {
    border: 1px solid #cfcfcf;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.map {
    display: none;
    height: 73vh;
    margin: 20px 0;
    width: 100%;
}

.btn {
    cursor: pointer;
}
